.background {
/*   viewport-fill: fb-cyan; */
}

#demotext {
  fill: black;
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
}

#output {
  text-anchor: end;
  text-length: 8;
}

text {
  text-length: 99;
  fill: fb-cerulean;
}


